<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/hollow-knight-avatar.png" width="250" height="250" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nec luctus magna. Nunc vel urna interdum, porta turpis nec, convallis ex. Nunc venenatis, libero vel scelerisque posuere, diam enim ornare ex, vel egestas dolor massa eget est. Integer vel venenatis elit. Nullam imperdiet tortor eu quam gravida tincidunt. Vestibulum vel nulla egestas, interdum augue ut, tempus metus. Sed id justo consequat, vehicula quam eget, bibendum lectus. Fusce tempus magna eu pellentesque imperdiet. Sed eget neque sit amet sem suscipit sollicitudin vitae in nibh. </p>
            </div>
        </div>

        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>

    </div>
</div>